{{ define "main" }}
<article class="post">
  <h1 class="post-title">{{ .Title | markdownify }}</h1>
</article>

<div class="posts">
  {{ range (.Paginate (.Pages.ByDate.Reverse)).Pages }}
    <article class="post on-list">
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h2>
      <div class="post-meta">
        {{- if .Date -}}
          <time class="post-date">
            {{- partial "post-date" . -}}
          </time>
        {{- end -}}
      </div>

      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
          #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
            {{- . -}}
          </a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      <div class="post-content">
        {{- if .Description -}}
          <p>{{ .Description | markdownify }}</p>
        {{- else -}}
          {{ .Summary }}
        {{- end -}}
      </div>

      <div>
        <a class="read-more button inline" href="{{ .RelPermalink }}">[{{ $.Site.Params.ReadMore }}]</a>
      </div>
    </article>
  {{ end }}

  {{ partial "pagination.html" . }}
</div>
{{ end }}
